body {
  font-family: "Arial", sans-serif;
  background-color: #4646c5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #739ccb;
  color: rgb(23, 57, 120);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(21, 1, 1, 0.1);
}

h1 {
  margin: 0;
  font-size: 2em;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #6f788d;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #13538a;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #0e0101;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #51110a;
}

li button:hover {
  background-color: #84170a;
}
